*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    color: rgba(0, 0, 0, 0.377);
}


/*primeiro caurosel*/

.fa-chevron-right,.fa-chevron-left {
    height: 100px;
    font-size: 50px;
    color: gray;
}

.fa-chevron-right:hover,
.fa-chevron-left:hover {
    color: orange;
}

/*segundo caurosel*/

div.carousel-inner:nth-child(1) > button:nth-child(3) > span:nth-child(1) > i:nth-child(1),
div.carousel-inner:nth-child(1) > button:nth-child(4) > span:nth-child(1) > i:nth-child(1) {
    font-size: 25px;
    background-color: orange;
    color: white;
    height: 35px;
    padding: 5px 5px;
}




.buy-btn {
    color: white;
    background-color: orange;
}

.buy-btn:hover {
    color: black;
}


/*carousel*/


.caurosel-home .text-carousel{
    position: absolute;
    left: 20rem;
    top: 4rem;
}

.caurosel-home .carousel-item img{
    position: relative;
    right: -15rem;
}



.activee{
    color: orange;
}

.text-carousel h1{
    font-size: 50px;
    color: silver;
}

.text-carousel h1 span{
    color: orange;
}

.text-carousel h3 {
    font-weight: 900;
}

.text-carousel p {
    color: rgba(0, 0, 0, 0.473);
    font-weight: 100;
}

/*features*/

.features{
    font-size: 11px;
    
}


.features h2{
    font-size: 14px;
}

.features > a{
    border: none;
}

#flush-headingOne, #flush-headingTwo, #flush-headingThree, button{
    border: none;
}

#accordionFlushExample i{
    position: absolute;
    left: 20rem;
}

.list-group a{
    border: none;
}


/*brands*/
.brands span{
    position: absolute;
    left: 12rem;
}

.brands a{
    font-size: 11px;
}

/*products*/
#sponsor{
    position: relative;
    left: -3rem;
}